@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

/* HEADER LOGOS */
.app-logo {
  height: 80px;
  padding-right: calc($grid-gutter-width / 2);
}

.org-logo {
  max-height: 50px;
  height: auto;
  width: auto;
  padding-right: calc($grid-gutter-width / 2);
}
